/* Main Rulez*/
:root{
	--main--color:rgb(147, 255, 0);  /*Green*/
	/*--main--color:#c6213d*/        /*Pink*/

}

.clearfix{
	clear:both;
}

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	outline:none;
}

::selection{
	color:white;
	background:rgba(147, 255, 0,0.6);
}
::-moz-selection{
	color:white;
	background:#0ae8b49e;
}

.container{
	max-width:1170px;
	margin:0 auto;
}

body{
	font-family: 'Open Sans', sans-serif;
	color:#263238;
	line-height:1.6;
}

ul{
	list-style:none;
}

input,
textarea{
	color:#263238;
}

a{
	color:inherit;
	text-decoration:none;
	transition:all ease-in-out .3s;
}

button{
	border:none;
	background:none;
	color:inherit;
	cursor:pointer;
}

h2{
	margin-bottom:15px;
	color:var(--main--color);
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0,0,0,0.1);
	text-stroke-width: 1px;
    text-stroke-color: rgba(0,0,0,0.1);
}

.main-color{
	color: var(--main--color);
}

/*Start setting Box*/
.setting-box{
	position:fixed;
	top:0;
	left:-200px;
	width:200px;
	height:100vh;
	background-color:#fff;
	z-index:1000;
	border-right:1px solid #b3b3b354;
}

.setting-box .fa-cog{
	position:absolute;
	top:100px;
	right:-34px;
	background-color:#fff;
	padding:8px;
	transition: all ease .25s;
	border:1px solid #b3b3b32e;
	border-left:none;
}

.spin{
	animation: spin linear 1.75s infinite;
}

@keyframes spin{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}

.gear{
	width:18px;
	height:18px;
}

.open-setting-box{
	left:0;
}

.setting-container {
	display:flex;
	flex-direction:column;
}

.setting-container .option-box{
	padding: 10px 20px;
	background-color: #b3b3b32e;
	margin: 11px;
	border-radius: 4px;
}

.setting-container h4{
	margin-bottom:10px;
	color:#666;
	text-align:center;
	white-space:nowrap;
}

.setting-container .background-heading{
	position: relative;
	left: -13px;
}

.setting-container .colors-list{
	list-style:none;
	text-align:center;
	padding:0;
}

.setting-container .colors-list li{
	width:20px;
	height:20px;
	border-radius:50%;
	cursor:pointer;

	display:inline-block;
}

.setting-container .colors-list .active{
	opacity:1;
	border: 3px solid rgba(255,255,255,0.7);
}

.setting-container .colors-list li:first-of-type{
	background-color:rgb(147, 255, 0);
}
.setting-container .colors-list li:nth-of-type(2){
	background-color:#c6213d;
}
.setting-container .colors-list li:nth-of-type(3){
	background-color:#ff6000;
}
.setting-container .colors-list li:nth-of-type(4){
	background-color:#0ae8b4;
}
.setting-container .colors-list li:nth-of-type(5){
	background-color:#dfff00;
}

.setting-container .random-background{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.setting-container .random-background span{
	background-color: var(--main--color);
	padding: 5px 20px;
	border-radius: 4px;
	opacity: .5;
	cursor:pointer;
	color:#fff;
	font-weight:bold;
	
}

.setting-container .random-background .active{
	opacity:1;
}

.setting-container .page-mode{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.setting-container .page-mode span{
	padding: 5px 20px;
	border-radius: 4px;
	opacity: .5;
	cursor:pointer;
	color:#000;
	font-weight:bold;
}

.setting-container .page-mode span:first-of-type{
	border:1px solid rgba(255,255,255,0.1);
	background-color:#000;
	color:#fff;
}

.setting-container .page-mode span:nth-of-type(2){
	background-color:#fff;
	border:1px solid rgba(0,0,0,0.1);
}
.setting-container .page-mode .active{
	opacity:1;
}


.setting-container .bullets-option{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.setting-container .bullets-option span{
	background-color: var(--main--color);
	padding: 5px 20px;
	border-radius: 4px;
	opacity: .5;
	cursor:pointer;
	color:#fff;
	font-weight:bold;
}

.setting-container .bullets-option .active{
	opacity:1;
}
.setting-container span:hover{
	opacity:0.7;
}

.reset{
	color:red;
	margin-bottom:10px;
	text-align: center;
	width:100%;
	cursor: pointer;
}

/*End setting Box*/

/*Start Bullets*/
.nav-bullets{
	position:fixed;
	right:0;
	top:50%;
	margin-right:5px;
	transform:translatey(-50%);
	z-index:1000;
	color:#fff;
	font-weight:bold;
}

.nav-bullets .bullets{
	width:20px;
	height:20px;
	border-radius:50%;
	border:3px solid var(--main--color);
	margin:10px auto;
	position:relative;
	cursor:pointer;
}
.nav-bullets .bullets .tooltip {
	position: absolute;
	left: -97px;
	top:-3px;
	background-color: var(--main--color);
	padding: 1px 5px;
	font-size: 14px;
	border-radius: 3px;
	width: 80px;
	height:24px;
	display:none;
	cursor:default;
}

.nav-bullets .bullets .tooltip::before{
	content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 10px;
position: absolute;
top: 50%;
border-color: transparent transparent transparent var(--main--color);
right: -20px;
transform: translateY(-50%);
}

.nav-bullets .bullets:hover{
	background-color:var(--main--color);
}

.nav-bullets .bullets:hover .tooltip {
	display:flex;
	justify-content:center;
	align-items:left;
}



/*End Bullets*/

/* Start Landing Page */ 
.landing-page{
	min-height:100vh;
	position:relative;
	background-image: url('../images/img2.png');
	background-size:cover;
	color:#fff;
	
}

.landing-page .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	z-index:1;
	
}

.navigation .heading{
	display:flex;
	justify-content:space-between;
	width:100%;
	padding:15px;
	z-index:2;
	position:relative;
	font-size:20px;
	align-items:center;
}

.navigation .heading .links:first-child{
	display:flex;
	list-style:none;
	
}

.navigation .heading .links li{
	padding:0 15px;
}

.navigation .heading .links li a:hover,
.navigation .heading .links li a.active{
	color: var(--main--color);
}

/*Start burger navigation*/

.nav-button{
	z-index:3;
	position:relative;
	cursor:pointer;
	display:none;
}

.nav-button div{
	display:flex;
	flex-direction:column;
	z-index:3;
	position:relative;
	cursor:pointer;
}

.nav-button span{
	display:inline-block;
	position:relative;
	background-color:#fff;
	height:4px;
	margin:2px 0;
	width:30px;
}

.nav-button ul{
	display:none;
    position: absolute;
    background-color:#fff;
	justify-content:center;
	align-items:center;
    color: #000;
    left:-384px;
	bottom:-159px;
	font-size:14px;
	border-radius:4px;
	flex-direction:column;
	width:85vw;
	z-index:6;
}

.nav-button .open{
	display:flex;
}

.nav-button.open::before{
	content:'';
	width:0;
	height:0;
	border-style:solid;
	border-width:10px;
	position:absolute;
    right: 4px;
    bottom: -10px;
	border-color: transparent transparent #fff transparent ;
}

.nav-button.open.black-open::before{
	border-color: transparent transparent #17222b transparent ;
}

.links li {
	margin: 10px 0;
}
/*End burger navigation*/

@media (max-width:600px){
	.navigation .heading .links li{
		font-size:15px;
	}
}	

@media (max-width:500px){
	.nav-button{
		display:flex;
	}
	.links-container{
		display:none;
	}
	
	.nav-bullets{
		top:16%;
		transform:scale(.8);
	}
}